@import "../../../../../styles/media.module";

.root {
  position: absolute;
  width: 100%;
}

.leftGroup_container {
  left: 8px;
  top: 8px;
  position: absolute;
}

.leftGroup {
  display: grid;
  grid-gap: 8px;
  grid-auto-flow: column;
}

.rightGroup_container {
  right: 8px;
  top: 8px;
  height: 100%;
  position: absolute;
}

.rightGroup {
  display: grid;
  grid-gap: 8px;
}

.fullScreenButton {
  @media (max-width: $mq-tablet-max) {
    display: none !important;
  }
}
