.root {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}

.centerContainer {
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
}

.sliderWrapper {
  width: auto;
  display: flex;
}

.sliderContainer {
  width: 100%;
  position: absolute;
  bottom: 224px;
  left: 0;
  height: 0;
}

.slideItem {
  width: 96px;
}
