@import "../../../../../styles/media.module";

.root {
  position: relative;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  overflow: auto;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
}

.overlay {
  background: var(--primary-700);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
  z-index: 30;
  opacity: 0;
  box-sizing: border-box;
}

.rootMobileForm {
  padding: 0;
  margin-top: 88px;
  box-sizing: border-box;
  outline: none;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

.overlay_afterOpen {
  opacity: 1;
  transition: .3s ease;
}

.overlay_beforeClose {
  opacity: 0;
}

.closeContainer {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 16px;
  z-index: 40;
  background: rgba(23, 26, 48, 0.3);
  border-radius: 12px;
  cursor: pointer;
  @media (max-width: $mq-mobile-max) {
    background: inherit;
  }
}

.closeIcon {
  fill: #FFFFFF;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  @media (max-width: $mq-mobile-max) {
    width: 23px;
    height: 23px;
  }
}

.backContainer {
  position: fixed;
  left: 24px;
  top: 24px;
  z-index: 40;
}

.backButton {
  border: none;
  background: transparent;
  padding: 0;
}

.backIcon {
  fill: #FFFFFF;
  cursor: pointer;
  vertical-align: middle;
  width: 27px;
  height: 28px;
}

.content_wrapper {
  max-width: 1200px;
  width: auto;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: var(--primary-700);
  @media (max-width: $mq-tablet-max) {
    padding: 0 40px 40px 40px;
  }
  @media (max-width: $mq-mobile-max) {
    padding: 0 16px 10px 16px;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  @media (max-width: $mq-mobile-max) {
    margin-top: 25px;
  }
}

.header {
  font-family: var(--font-space-grotesk);
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: start;
  margin-bottom: 80px;
  @media (max-width: $mq-mobile-max) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 44px;
  }
}

.centralBlock {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $mq-tablet-max) {
    display: block;
  }
}

.formBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title, .title_contactUs {
  font-family: var(--font-space-grotesk);
  color: rgb(213, 253, 16);
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  max-width: 486px;
  width: auto;
  @media (max-width: $mq-tablet-max) {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: $mq-mobile-max) {
    font-size: 40px;
    line-height: 47px;
  }
}

.title_contactUs {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 40px;
}

.image {
  position: absolute;
  max-width: 400px;
  max-height: 670px;
  top: 8%;
  right: 34%;
  width: auto;
  height: auto;
  margin-right: 24px;
  @media (max-width: $mq-tablet-max) {
    position: initial;
    max-width: 338px;
    max-height: 564px;
  }
  @media (max-width: $mq-mobile-max) {
    margin: 0 auto;
    max-width: 338px;
    max-height: 564px;
  }
  @media (max-width: $mq-mobile-min) {
    max-width: 278px;
    max-height: 278px;
  }
}

.form {
  width: 282px;
  display: grid;
  gap: 5px;
  margin-right: 3px;
  @media (max-width: $mq-tablet-max) {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: $mq-mobile-max) {
    width: 100%;
  }
}

.buttonMessage, .buttonContact {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  background: rgba(107, 112, 242, 1);
  border: none;
  margin-top: 16px;
  font-family: var(--font-space-grotesk);
  color: rgba(255, 255, 255, 1);
  padding: 12px 50px 12px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  color: #FFFFFF;
  position: relative;
  transition: all .2s ease;

  &:hover {
    background: rgba(107, 112, 242, 0.8);
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  @media (max-width: $mq-mobile-max) {
    position: fixed;
    right: 10px;
    bottom: 16px;
    top: auto;
    left: 10px;
    width: auto;
  }
}

.submitButton {
  transition: opacity .3s ease;
  opacity: 1;
}

.submitButton_loading {
  opacity: 0;
}

.footer {
  font-family: var(--font-space-grotesk);
  color: rgba(95, 130, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
  margin-bottom: 50px;
  @media (max-width: $mq-mobile-max) {
    margin-bottom: 250px;
    transition: 1s;
  }
  @media (max-height: $mq-mobile-max) {
    margin-bottom: 600px;
    transition: 1s;
  }
}

.footerSymbol {
  color: rgba(255, 255, 255, 1);
}

.developingBlock {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 6px;
  @media (max-width: $mq-tablet-max) {
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
  @media (max-width: $mq-mobile-max) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

.develop {
  height: auto;
  border-radius: 16px;
  padding: 16px 12px 16px 16px;
  background: rgba(23, 26, 48, 0.3);
}

.devTitle {
  margin: 8px 0 8px 0;
  font-family: var(--font-space-grotesk);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  @media (max-width: $mq-mobile-max) {
    font-size: 16px;
    line-height: 22px;
  }
}

.devSubTitle {
  font-family: var(--font-space-grotesk);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  opacity: 0.8;
}

.descriptionBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 80px;
  gap: 40px;
  @media (max-width: $mq-mobile-max) {
    display: block;
    margin-bottom: 40px;
  }
}

.titleDeveloping, .titleCompany, .titleMission {
  font-family: var(--font-space-grotesk);
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 80px 0 40px 0;
  @media (max-width: $mq-tablet-max) {
    margin: 0 0 24px 0;
  }
}

.subTitleCompany  {
  font-family: var(--font-space-grotesk);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  flex-wrap: wrap;
  opacity: 0.8;
  @media (max-width: $mq-mobile-max) {
    font-size: 16px;
    line-height: 22px;
  }
}

.subTitleMission {
  font-family: var(--font-space-grotesk);
  color: rgb(213, 253, 16);
  font-size: 40px;
  font-weight: 700;
  line-height: 43px;
  flex-wrap: wrap;
  letter-spacing: -4%;
  vertical-align: top;
}

.buttonPopup {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 12px 40px 12px 40px;
  background: rgba(107, 112, 242, 1);
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);

  &:hover {
    background: rgba(107, 112, 242, 0.6);
  }
}
