@import "../../../styles/media.module";

.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.progress_container {
  transform: rotate(-90deg);
  border-radius: 100%;
}

.animated {
  z-index: 2;

  .outer_border {
    box-shadow: none;
  }

  .progress_container {
    animation: scaleUp 0.6s ease-out;
    transform: scale(var(--start-scale));
    circle:first-child {
      stroke: transparent;
    }
    circle:nth-child(2) {
      fill: white;
      animation: fillTransparent .4s ease-out;
      stroke: transparent;
    }
  }

  button {
    box-shadow: none;
    background: transparent;
    border:none;
    cursor: default !important;
    transition: opacity;
    animation: opacityDown .3s ease-in;
    animation-delay: .1s;
    opacity: 0;
    transition-delay: .1s;
    &:disabled {
      background: white;
    }
    span {
      color: var(--gray-600);
    }
  }

  .outer_border {
    box-shadow: none;
  }
}

.outer_border {
  border: 7px solid transparent;
  border-radius: 100%;
  z-index: 2;
  box-shadow: inset 0 1px 3px rgb(65 69 167 / 25%);
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.progress_track {
  stroke: rgba(178, 198, 255, 1);
  stroke-width: 8;
  @media (max-width: $mq-tablet-max) {
    stroke-width: 6;
  }
}

.progress {
  stroke: var(--primary-600);
  stroke-width: 8;
  transition: stroke-dasharray .2s, stroke-dashoffset .2s ease;
  @media (max-width: $mq-tablet-max) {
    stroke-width: 6;
  }
}

.content {
  position: absolute;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(var(--start-scale));
  }
}

@keyframes opacityDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fillTransparent {
  from {
    stroke: var(--primary-600);
    fill: #E1EBFF;
  }
  to {
    stroke: transparent;
    fill: white;
  }
}
